/* Universal Styles */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;

}

/* Navigation Bar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 11px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    /* border-bottom: 2px solid #000370; */
    color: wheat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background:
        radial-gradient(circle at center,
            rgba(22, 60, 143, 0.3),
            transparent 60%),
        linear-gradient(180deg, #0F172A, #08111F);
    background-color: #03001e;
    box-shadow: 0 0 8px #00d2ff, 0 0 8px #00d2ff;

}

.nav-heading {
    margin: 7px;

}

.lists {
    list-style: none;
}

.nav-links {
    padding: 10px;
    margin-right: 5px;
    color: wheat;
    text-decoration: none;
}

.nav-links:hover {
    border: 1px solid #D4AF37;
    border-radius: 10px;
    background-color:
        #23465c;
    box-shadow: 0 0 10px rgba(245, 222, 179, 0.417),
        0 0 10px rgba(0, 238, 255, 0.752);

}


/* Header */

.header {
    margin-top: 63px;
    color: wheat;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    text-transform: capitalize;
    padding: 20px;
    background-color: #121234;



}

.title,
a {
    padding: 8px;
    transition: transform 0.4s ease;
    color: wheat;
    text-decoration: none;
}

.title:hover {
    transform: translateY(-5px);
    border-radius: 15px;
    border: 1px solid wheat;
    background-color: #1b1b49;
}

/* Main Content */

.why-quntra {
    margin: 0%;
    padding: 10px;
    border: 1px solid rgb(33, 33, 113);
    
    color: wheat;
    background:
        radial-gradient(circle at center,
            rgba(43, 72, 133, 0.418),
            transparent 60%),
        linear-gradient(180deg, #0F172A, #08111F);
}

.why {

    text-align: center;
    margin: 5px;
    padding: 10px;

}

.sub-heading {
    margin: 10px;
    padding: 10px;
    color: #FFD166;
    text-align: start;
}

.para {
    display: list-item;
    margin: 10px;
    margin-left: 70px;
    padding: 15px;
    color: whitesmoke;
    text-align: start;
}

/* disclaimer */


.dis {
    margin: 25px;
    padding: 20px;
   color: #d46137;
      text-align: center;
    background-color: rgb(9, 5, 55);
    border: 2px solid white;
    border-radius: 20px;
     box-shadow: 0 0 15px #00d2ff, 0 0 15px #00d2ff;
}


/* footer */

footer {
    background: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    /* position: fixed;
    bottom: 0;
    left: 0; */
    width: 100%;
    background:
        radial-gradient(circle at center,
            rgba(22, 60, 143, 0.3),
            transparent 60%),
        linear-gradient(180deg, #0F172A, #08111F);
    border-top: 1px solid rgba(0, 255, 255, 0.732);

}


