/* universal styles for the About page */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;

}


/* Navigation Bar */


.fixed {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
       padding-top: 0;
    margin-top: 0;
}

.navbar {
   
        background-color: #000000;
    /* margin: 10px; */
    display: flex;
    align-items: center;
    border-bottom: 2px solid #333;
   
}

.nav-links {
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    
}

.nav-links a:hover {
    background-color: #555555a0;
}

/* Main Content */

.side {
    margin-top: 50px;
    height: 100%;
    width: 15%;
    border-right: 1px solid #777777;
    background-color: #1a1a1a;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    
}

.main {
    margin-top: 70px;
    margin-left: 15%;
    margin-bottom: 35px;
    padding: 20px;
    background-color: #000000;
    min-height: 100vh;
    text-align: center;
}

.side a {
    color: #ffffff;
   margin: 10px ;
  
    text-align: center;
    text-decoration: none;
}

/* footer */

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid #333;
}


/* main */

.img {
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid wheat;
}

h2{
    text-align: start;
    color: grey;
    margin: 15px;
   
}

.overview {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 20px;
   
   
}



